
.common {
    display: flex;
    justify-content: space-between;
}

.todolist {
    width: 305px;
    padding: 10px 20px;
}

.todolistTitle {
    display: flex;
    gap: 15px;
    align-items: center;
}

.addItemForm {
    composes: common;
    align-items: center;
}

.tasks {
    composes: common;
    gap: 15px;
}